<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
    {{#if pageName}}
        <title>AD Games | {{pageName}}</title>
    {{else}}
        <title>AD Games</title>
    {{/if}}
    <meta name="theme-color" content="#242F40">
    <link rel="icon" type="image/x-icon" id="light-scheme-icon" href="/media/pictures/AD_s_b.png">
    <link rel="icon" type="image/x-icon" id="dark-scheme-icon" href="/media/pictures/AD_s_w.png">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.css" />
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="https://cdn.jsdelivr.net/npm/swiper@8/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/axios@1.0/dist/axios.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-firestore.js"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script>const pageName = "{{pageName}}";</script>
    <script src="/scripts/app.js"></script>
</head>
<body {{#if (ifEquals pageName "Games")}}class="search-enabled"{{/if}}>
    <header {{#if (ifEquals pageName "Games")}}class="search-enabled"{{/if}}>
        <nav id="nav-bar">
            <a href="/"><img id="nav-logo" src="/media/pictures/AD_GAMES.png"/></a>
            {{#unless (ifEquals pageName "Games")}}
                <a id="nav-link-search" class="black-invert margin-left-auto" onclick="toggleSearchBar()"><img src="/media/bootstrap-icons-1.10.1/search.svg"/></a>
            {{/unless}}
            {{#if photoURL}}
                <a id="nav-link-account" {{#if (ifEquals pageName "Games")}}class="black-invert margin-left-auto"{{else}}class="black-invert"{{/if}} href="/account"><img id="user-avatar" src="{{photoURL}}"/></a>
            {{else}}
                <a id="nav-link-account" {{#if (ifEquals pageName "Games")}}class="black-invert margin-left-auto"{{else}}class="black-invert"{{/if}} href="/account"><img src="/media/bootstrap-icons-1.10.1/person-circle.svg"/></a>
            {{/if}}
            <a id="nav-link-cart" class="black-invert" href="/cart"><img src="/media/bootstrap-icons-1.10.1/cart2.svg"/></a>
        </nav>
        <input id="search-bar" name="search-bar" type="text" placeholder="Search" oninput="searchQuery(event)" onkeypress="searchQuerySubmit(event)"/>
    </header>
    {{#unless (ifEquals pageName "Games")}}
        <ul id="search-results"></ul>
    {{/unless}}
    {{{body}}}
    <footer>
        <div class="footer-element">
            <h3>Payment Methods</h3>
            <div id="footer-grid">
                <img title="Stripe" class="black-invert" src="/media/bootstrap-icons-1.10.1/stripe.svg"/>
            </div>
        </div>
        <div class="footer-element">
            <h3><a href="/about">About Us / Contact Us</a></h3>
        </div>
        <div class="footer-element">
            <p id="footer-copyright">© AD Games 2022</p>
        </div>
    </footer>
</body>
</html>
</body>
</html>